@media (max-width: 768px)
{
  #slash{
    letter-spacing: 7px;
  }
	._1440
	{
		display: none !important;
	}
	._768
	{
		display: unset !important;
	}
	body
	{
		overflow-x: hidden;
	}
	body._lock
	{
		overflow: hidden;
	}
	h1, h2, h4, h5
	{
		font-size: 32px;
	}
	h3
	{
		font-family: Merriweather;
		font-size: 28px;
	}
	.line
	{
		background-size: 364px 2px;
		margin: 80px auto 47px auto;
		max-width: 364px;
	}
	.line h2
	{
		line-height: unset;
		padding: 18.5px 21px 18.5px 21px;
	}
	#logo
	{
		height: 50px;
		margin: unset;
		width: 50px;
	}
	#logo_a
	{
		margin: 20px auto 20px 7.8125%;
	}
	#right-side .nav_1440
	{
		display: none;
	}
	#hero
	{
		margin-left: auto;
		background-position: -5px -30px;
		background-repeat: no-repeat;
		background-size: auto 620px;
		display: flex;
		flex-direction: column;
		max-height: 591px;
	}
	#hero div
	{
		margin-bottom: 152px;
		margin-left: 7.8125% !important;
		margin-top: 168px;
		max-width: 100%;
		width: clamp(10px, 390px, 100%);
		height: auto !important;
		flex-wrap: wrap;
		margin-right: auto !important;
	}
	#hero h1
	{
		font-family: Merriweather-r;
		font-size: 32px;
		font-weight: lighter;
		line-height: 64px;
	}
	#hero p
	{
		line-height: unset;
		margin: 20px 30px 0 0;
		width: clamp(10px, 390px, 100%);
		flex-wrap: wrap;
		height: auto !important;
	}
	#hero button
	{
		margin: 60px auto 0 0 !important;
	}
	#skills
	{
		margin-bottom: 85px;
	}
	.skill
	{
		margin: 0 20.5px 36px 19px;
		max-height: 224px;
		max-width: 300px;
	}
	#skills ul
	{
		margin-bottom: 0;
		text-align: center;
	}
	.skill-header
	{
		margin-bottom: 20.5px;
		margin-top: 30px;
	}
	.skill-content
	{
		line-height: 22px;
		margin: 0 10px 76px 10px;
	}
	#portfolio-btns
	{
		margin: 45px 50px;
	}
	#portfolio-btns button
	{
		margin: 3px;
	}
	#portfolio-items
	{
		align-items: center;
		flex-direction: column;
		margin: 57px auto -25px;
	}
	#video img
	{
		margin-top: 5px;
	}
	#play-btn
	{
		left: calc(50% - (80px / 2));
		top: calc(50% - (65px / 2));
	}
	#play-btn svg
	{
		height: 65px;
		width: 65px;
	}
	#price-items
	{
		margin-bottom: 32px;
	}
	.price-item
	{
		margin-bottom: 48px;
		width: clamp(100px, 420px, 100%);
	}
	#contacts
	{
		align-items: center;
		background-image: var(--bg-contact-img);
		background-position: -233.5px 0;
		background-size: auto 600px;
	}
	#contacts h2
	{
		line-height: 80px;
		margin: 50px 0 0 0;
		max-width: 100%;
		text-align: center;
		width: clamp(200px, 450px, 100%);
	}
	#contacts form .inp-form
	{
		max-width: 100%;
		width: clamp(200px, 450px, 100%);
	}
	#contacts form
	{
		margin: 22px 0px 111px 0;
		width: clamp(200px, 450px, 100%);
	}
	#contacts form button
	{
		margin: 20px auto 0 auto;
	}
	footer
	{
		align-items: center;
		flex-direction: column;
		line-height: unset;
	}
	.footer-item
	{
		margin: 29px 11px 0;
	}
	#school_link
	{
		margin: 15px auto 2px;
	}
	.social-list
	{
		margin: 0;
	}
	.social-list li
	{
		margin: 27px 10px;
	}
	#right-side
	{
		padding-right: 8.333%;
	}
	.menu_icon
	{
		cursor: pointer;
		display: block;
		height: 28px;
		margin: 31px 0 31px 0;
		position: relative;
		width: 50px;
		z-index: 5;
	}
	.menu_icon span,
	.menu_icon::before,
	.menu_icon::after
	{
		background-color: var(--color-txt);
		height: 10%;
		left: 0;
		position: absolute;
		transition: all 0.3s ease 0s;
		width: 100%;
	}
	.menu_icon::before,
	.menu_icon::after
	{
		content: "";
	}
	.menu_icon::before
	{
		top: 0;
	}
	.menu_icon::after
	{
		bottom: 0;
	}
	.menu_icon span
	{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu_icon._active span
	{
		transform: scale(0) translate(0px, -50%);
	}
	.menu_icon._active::before
	{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -40%);
	}
	.menu_icon._active::after
	{
		top: 50%;
		transform: rotate(45deg) translate(0px, -50%);
	}
	.menu_body
	{
		background-color: var(--color-black);
		height: 100%;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
		transform: translate(100%, 0);
		transition: all 0.3s ease 0s;
		width: 80.7%;
	}
	.menu_body._active
	{
		right: 0;
		transform: translate(0, 0);
	}
	.menu_list
	{
		margin: 134px auto auto 127px;
		padding: 0;
	}
	.menu_list li
	{
		font-size: 35px;
		line-height: 72.5px;
		list-style: none;
		padding: 0 0 16px 0;
	}
	.menu_list li:last-child
	{
		padding: 0;
	}

	#theme .light-theme {
		height: 40px;
		margin: 25px 34px 25px 30px;
		width: 40px;
	}
}